<div [ngClass]="{bordered: false}">This is never bordered</div>
<div [ngClass]="{bordered: true}">This is always bordered</div>

<div [ngClass]="{bordered: classesObj}">
    Using object var. Border {{ classesObj ? "ON" : "OFF"}}
</div>

<div class="base" [ngClass]="['blue', 'round']">
    This will always have a blue background and round corners
</div>

<div class="base" [ngClass]="classList">
    This is {{ classList.indexOf('blue') > -1 ? "" : "NOT"}} blue
    and {{ classList.indexOf('round') > -1 ? "" : "NOT"}} round
</div>