<h1>ngIf</h1>
<div *ngIf="true">test true</div>
<div *ngIf="a > b">test a > b</div>
<div *ngIf="str == 'yes'">test str == 'yes'</div>
<div *ngIf="myfunction()">test method</div>
<hr>
<h1>ngSwitch</h1>
<div class="container" [ngSwitch]="myVar">
  <div *ngSwitchCase="'A'">Var is A</div>
  <div *ngSwitchCase="'B'">Var is B</div>
  <div *ngSwitchCase="'C'">Var is C</div>
  <div *ngSwitchDefault>Var is something else</div>
</div>
<app-ng-switch-example></app-ng-switch-example>
<hr>
<h1>ngStyle</h1>
<app-ng-style-example></app-ng-style-example>